{% extends "base.html" %}

{% block content %}
  <h1>Driver list</h1>

  {% if driver_list %}
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>First name</th>
          <th>Last name</th>
          <th>License number</th>
        </tr>
      </thead>
      <tbody>
      {% if object_list %}
        {% for driver in object_list %}
          <tr>
            <td>
              <a href="{% url 'taxi:driver-detail' driver.pk %}">
                {{ driver.username }}
              </a>
            </td>
            <td>{{ driver.first_name }}</td>
            <td>{{ driver.last_name }}</td>
            <td>{{ driver.license_number }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <p>No drivers.</p>
      {% endif %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
