{% extends "base.html" %}
{% block content %}
  <h1>Manufacturers</h1>

  {% if manufacturer_list %}
    <table>
      <thead>
        <tr>
          <th>Manufacturer</th>
          <th>id</th>
        </tr>
      </thead>

    <tbody>
    {% for manufacturer in manufacturer_list %}
      <tr>
        <td>{{ manufacturer }}</td>
        <td>{{ manufacturer.id }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  {% endif %}
  {% include "includes/pagination.html" %}
{% endblock %}
